*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html, body ,
#root {
  height: 100%;
  width: 100%;

}
/* .left .code,
.code pre,
.code pre code{
  height: 100%;
  width: 100%;
  margin: 0%;
  
} */

